body{
    background-color: #0fffd0;
    color: rgb(255, 0, 119)

}
h1 {
    text-align: center;
 }
 
 div {
    text-align: left;
 }

 .exitMenu{
   margin-top: 30px;
 }
 #exitPage{
     color:#990000;
     font-size:24px;
 }
 #simpleForm1{
     text-align: center;
    color:#ffff66;
    background-color:#660066;
    width:500px;
    height:400px;
 }
 #faultyItems {
    visibility: hidden;   
 }

 
 #launchForm {
    background-color: #ECF0F1;
    text-align: center;
    margin: auto;
    width: 25%;
    border: 3px solid black;
    padding: 10px;
 }
 
 #launchStatusCheck {
    background-color: #ECF0F1;
    text-align: center;
    margin: 50px auto;
    width: 50%;
    border: 3px solid black;
    padding: 10px;
 }
 
 #missionTarget img {
    max-width: 40%;
    max-height: 250px;
 }
 
 #missionTarget {
    background-color: #ECF0F1;
    text-align: center;
    margin: 50px auto;
    width: 50%;
    border: 3px solid black;
    padding: 10px;
 }
 
 button {
    background-color: #419f6a;
    border: none;
    color: white;
    border-radius: 8px;
    width: 25%;
    height: 30px;
    margin: 10px 0;
 }

#shoppingForm{
color:#663300;
background-color:#66ff66;
width:600px;
height:300px;
}